#error-messages{
    margin-top: 1em;
    font-size: 0.8em;
    text-align:left;
    font-family: nosifer;
    color: #AF3A08;
}

form {
    font-family: Georgia, serif;
    color:#AF3A08;
    margin-left: 50px;
}

h2 {
    font-family: nosifer;
    color:#AF3A08;
    margin-left: 20px;
    margin-top: 20px;
}

input {
    width: 400px;
}

.register-edit {
    margin-right: .5em;
    background-color: #AF3A08;
}

.register-cancelButton:hover {
    background-color: yellow;
}

.register-edit:hover {
    background-color: green;
}