.movies-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}
.movies-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 400px;
    margin: 0 50px;
    margin-top: 70px;
}

.movie-title {
    font-size: 20px;
    color: whitesmoke;
    text-align: center;
}

.movie-poster {
    transition: 0.3s ease;
    cursor: pointer;
}

.movie-poster:hover {
    transform: scale(1.03);
    box-shadow: 6px 6px 12px -1px rgb(0,0,0);
}
.movie-buttons{
    display: flex;
    margin: 10px 2px;
}

.movie-btn {
    padding: 10px;
    width: 120px;
    margin: 0 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: antiquewhite;
    color: whitesmoke;
    transition: 0.2s ease;
}

.movie-btn:hover{
    background-color: antiquewhite;
}

.noimage {
    display: flex;
    align-items: center;
    color: whitesmoke;
    height: 300px;
    font-size: 20px;
}

#pages-p {
    color: whitesmoke;
}

