@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");

html {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: "Josefin Sans", sans-serif;
}


.main-cnt {
    margin-top: 70px;
    text-align: center;
}


#search-input {
    padding: 10px;
    width: 250px;
    outline: none;
    border: none;
}

.movies-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10rem;
}

.movie-title {
    font-size: 18px;
    font-family: Nosifer;
    margin-top: 10px;
    /* width: 25%;
    text-align: center; */

}

.movies-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movie-poster {
    transition: 0.3 ease;
    cursor: pointer;
}

.movie-poster:hover {
    transform: scale(1.03);
    box-shadow: 6px 6px 12px -1px rgb(0, 0, 0);
    transition: 2s ease;

}

.watch-buttons {
    display: flex;
    margin: 10px 2px;
    margin-left: 0rem;
}

.movie-btn {
    padding: 0px;
    width: 160px;
    margin: 0 10px;
    outline: none;
    border: none;
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: whitesmoke;
    transition: 2s ease;
}

.movie-btn:hover {
    background: rgb(0, 0, 0);
}

.noimage {
    display: flex;
    align-items: center;
    color: whitesmoke;
    height: 300px;
    font-size: 20px;
}

#pages-p {
    color: whitesmoke;
}

.watchlater-movies-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-top: 100px; */
    height: 100%;
    margin: 0 10%;
}

#watch-list {
    color: whitesmoke;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

#watched-header {
    color: whitesmoke;
    text-align: center;
    margin-top: 50px;
}

.side-menu {
    overflow: auto;
    z-index: 3;
    width: 350px;
    position: fixed;
    height: 100vh;
    right: -80%;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(36, 36, 36, 0.8) 100%);
    transition: 1200ms ease;
}

.side-menu.active {
    right: 0;
    transition: 800ms ease;
}

.close-sidebar-cnt {
    height: 10%;
}

.close-siderbar-cnt p {
    float: left;
    display: flex;
    color: whitesmoke;
    font-size: 25px;
    padding: 0 20px;
    cursor: pointer;
}