
.watchlistNav {
    display: flex;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    top: 0;
    background-color: aliceblue;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 2rem;
    margin: 0 10px;
    font-size: 20px;
}

li:hover {
    background-color: aqua;
}