.container {
  max-width: 800px;
}

/* Navbar */
.navbar,
.navbar-spacer {
  display: block;
  width: 100%;
  height: 16.5rem;
  background: #fff;
  z-index: 99;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.navbar-spacer {
  display: none;
}

.navbar>.container {
  width: 100%;
}

.navbar-list {
  list-style: none;
  margin-bottom: 0;
  display: inline;
  position: sticky;
  justify-content: space-around;
  align-items: stretch;
}

.navbar-item {
  position: relative;
  float: left;
  margin-bottom: 0;
}

.navbar-link {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: .2rem;
  margin-top: 2.5rem;
  margin-right: 35px;
  font-family: 'Creepster', cursive;
  text-decoration: none;
  line-height: 6.5rem;
  color: rgb(81, 69, 69);
}


.has-docked-nav .navbar {
  position: fixed;
  top: 0;
  left: 0;
}

.has-docked-nav .navbar-spacer {
  display: block;
}

/* Re-overiding the width 100% declaration to match size of % based container */
.has-docked-nav .navbar>.container {
  width: 80%;
}

.logoutButton {
  position: sticky;
  margin-left: 1.5rem;
  margin-top: 20px;
  color: rgb(154, 100, 100);
}

.welcomeMessage{
  padding-block-start: 1.2rem;
  margin-left: 1rem;
  color: #240303;
  text-shadow:
  0px 0px 5px #EB1037,
  0px 0px 7px #000000,
  0px 6px 1px #400000,
  0px 8px 1px #500000,
  0px 10px 1px #600000,
  0px 12px 1px #700000,
  0px 14px 1px #800000,
  0px 16px 1px #900000,
  0px 18px 1px #A00000,
  0px 20px 1px #B00000,
  0px 22px 1px #C00000;
  
}


nav ul li {
  float: left;
  position: relative;
  list-style: none;
}

.navbar .watch-ul .watchnav {
  position: relative;
}



.watched-ul {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 90px;
  margin-left: 135px;
  text-decoration: none;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}


.navbar-list .watch-ul:hover .watched-ul{
  display: block;
}

.a {
  padding: 8px 18px;
  text-decoration: none;
  font-family: 'Creepster', cursive;
  font-size: 15px;
  color:#600000;
}

.a:hover {
  background-color: #f3f3f3;
  color: #AF3A08;
}

.navbar-link:hover {
  animation: shake 1.2s infinite;
}

.droplist:hover {
  animation: shake 1.2s infinite;
}

.droplist {
  width: 180px;
  border-radius: 4px;
}

/* Removed the links here */
/* Change color of text here */
.navbar-textdecoration{
  text-decoration: none;
  color:#500000;
}

.navbar-textdecoration:hover{
  text-decoration: none;
  color: #AF3A08;
}

.navbar .review-ul .watchnav {
  position: relative;
}

.reviews-ul {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 90px;
  margin-left: 35px;
  text-decoration: none;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
}

.navbar-list .review-ul:hover .reviews-ul{
  display: block;
}

.ab {
  padding: 8px 18px;
  text-decoration: none;
  font-family: 'Creepster', cursive;
  font-size: 15px;
  color:#600000;
}

.ab:hover {
  background-color: #f3f3f3;
  color: #AF3A08;
}

@keyframes shake{
  0%
  {
    -webkit-transform:translate(0,0) rotate(0);
    transform:translate(0,0) rotate(0)
  }
  2%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  4%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  6%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  8%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  10%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  12%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  14%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  16%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  18%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  20%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  22%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  24%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  26%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  28%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  30%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  32%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  34%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  36%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  38%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  40%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  42%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  44%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  46%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  48%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  50%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  52%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  54%
  {
    webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  56%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  58%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  60%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  62%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  64%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  66%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  68%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  70%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  72%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  74%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  76%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  78%
  {
    -webkit-transform:translate(-1px,-1px) rotate(-.5deg);
    transform:translate(-1px,-1px) rotate(-.5deg)
  }
  80%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  82%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  84%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  86%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  88%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  90%
  {
    -webkit-transform:translate(-1px,0) rotate(-.5deg);
    transform:translate(-1px,0) rotate(-.5deg)
  }
  92%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  94%
  {
    -webkit-transform:translate(0,-1px) rotate(-.5deg);
    transform:translate(0,-1px) rotate(-.5deg)
  }
  96%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }
  98%
  {
    -webkit-transform:translate(0,0) rotate(-.5deg);
    transform:translate(0,0) rotate(-.5deg)
  }

}