.movies-container .card{
    width: 161px;
    background-color: black;
    font-family: "Roboto", sans-serif;
    /* padding: 16px; */
    box-shadow: 0 9px 17px -6px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    height: calc(100vh /2.2);
}
.description{
    margin-bottom: 10rem;
}

.movies-container .card:hover {
    transform: scale(1.03);
    padding-bottom: 10rem;
}

.movies-container-selected {
    border: 7px dotted #AF2708;
    padding-bottom: 10px;
    padding-top: 10px;
    /* padding-right: 5px; */

}

.movies-container,
.movies-container * {
    box-sizing: border-box;
}

.movies-container .card a {
    text-decoration: none;
    color: #14213d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movies-container .card img{
    margin: 1px;
    object-fit: cover;
}

.movies-container .card h2.title{
    font-size: 13px;
    margin: 15px 0 7px 0;
    line-height: 1.4;
    color: darkred;
}

.movies-container .card h6.description{
    font-size: 16px;
    color: rgb(245, 239, 239);
    margin: 0;
    line-height: 1.7;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10rem;
}

.movies-container .card h6.info{
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    line-height: 1.7;
    
}

.movie-title-list {
    font-family: nosifer;
    margin-top: 20px;
}

.movies-cnt{
    display: inline-block;
    padding-left: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    max-width: 800px;
    margin: 20px auto;
    align-items: stretch;
    padding-bottom: 10rem;
}

.movies-container {
    display: inline-block;
    padding-left: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
    max-width: 800px;
    margin: 20px auto;
    align-items: stretch;
    padding-bottom: 10rem;
    
}

.reviewTile-delete {
    color:rgb(237, 221, 225);
    background-color: #AF3A08;
    margin-right: .5em;
}

.btn {
    font-size: 20px;
    font-family: 'Creepster', cursive;
    cursor: pointer;
    transition: 0.8s;
    border: 2px solid rgba(255, 0, 0, 0.485);
}

.reviewTile-delete:hover {
    background-color: red;
    margin-right: 2em;
}

.reviewTile-edit:hover{
    background-color: yellow;
    margin-left: 1em;
}

.reviewTile-edit {
    background-color: rgba(208, 208, 31, 0.806);
}

img{
    width: 160px;
}
