.inputDiv{
    padding-top: 10rem;
}

.addButton {
    color:rgb(237, 221, 225);
    background-color: #AF3A08;
    margin-right: .5em;
}

.searchButton {
    color:rgb(237, 221, 225);
    background-color: #AF3A08;
    font-family: 'Creepster', cursive;
    font-size: 20px;
}

.btn{
    font-size: 20px;
    font-family: 'Creepster', cursive;
    cursor: pointer;
    transition: 0.8s;
    border: 2px solid rgba(255, 0, 0, 0.485);
}

.addButton:hover{
    background-color: green;
}

.review-cancelButton:hover{
    background-color: yellow;
}

.add-review-error-messages {
    font-family: 'Creepster', cursive;
    color: #AF3A08;
    font-size: 17px;
}