.btn {
    font-size: 20px;
    font-family: 'Creepster', cursive;
    cursor: pointer;
    transition: 0.8s;
    border: 2px solid rgba(255, 0, 0, 0.485);
}

.editReview-edit {
    color:rgb(237, 221, 225);
    background-color: #AF3A08;
    margin-right: .5em;
}

.editReview-edit:hover {
    background-color: green;
}

.review-cancelButton {
    margin-right: 3em;
}

.editContainer {
    margin-top: 50px;
    margin-left: 200px;
}